
/* Fonts - Google Font Directory!
-------------------------------------------------------------- */



/* Basic HTML
-------------------------------------------------------------- */
html { 
}

body {
	background: #fff;
}

a  {
	color: #000;
	text-decoration: none;
}

h1 a, h2 a, h3 a, h4 a {
	color: #000;
}

.entry-content p a { 
	text-decoration: underline;
}

form {
	margin: 0;
}

figure {
	text-align: center;
	margin: 0;
}




/* Structures
-------------------------------------------------------------- */
#page-wrap {
}

#header {
	padding: 3em 0;
}

#feature {
}

#feature img {
	width: 100%;
	max-width: none;
}

#content {
	background: #eee;
	background: rgba(0,0,0,0.07);
	padding: 3em 0;
}

#portfolio {
	padding: 3em 0 0;
}

#footer {
	padding: 3em 0;
	text-align: center;
	opacity: 0.5;
}




/* Sub structures
-------------------------------------------------------------- */
.primary {
	float: left;
	width: 70%;
	/*background: rgba(255,0,0,0.2);*/
}

.secondary {
	float: right;
	width: 30%;
	padding-left: 5%;
}

.page-template-default .primary,
.primary .post {
	padding: 3em;
	background: #fff;
}

#content header {
	margin-bottom: 3em;
}


/* Header
-------------------------------------------------------------- */
#header {
	text-align: center;
}

#logo, #tagline {
	display: inline-block;
	margin-right: .1em;
	font-size: 2.0em;
}

#header nav li {
	display: inline-block;
	float: none;
	text-align: left;
}

#header nav li li {
	display: block;
}




/* Home
-------------------------------------------------------------- */
.recent {
	padding: 1em 0 0;
}

.recent h3 {
	margin-bottom: 1em;
}

.recent .entry-content {
	font-size: 12px;
}



/* Entries
-------------------------------------------------------------- */
.single article, .page article, article.intro, #footer article {
	max-width: 42em;
	margin: 0 auto;
	overflow: hidden;
}

.hentry {}

.hentry ul, .hentry ol {}

.hentry li {}

.hentry .meta {
	font-size: 11px;
	text-transform: uppercase;
	color: #aaa;
}

.hentry .meta a {
	color: #aaa;
}

.hentry .entry-header {
	padding-bottom: 2em;
}

.hentry .entry-title {
	margin: 0 0 0.5em;
}

.hentry .entry-content {
}

.hentry .entry-footer {
	padding-top: 2em;
}

.excerpt-only .secondary {
	width: auto;
	max-width: 42em;
	float: none;
	margin: 0 auto;
}

/* The wrapper <div> for the caption and captioned element. */
.wp-caption {
	margin-bottom: 1em;
	background: #fff;
	box-shadow: 0 0 3px rgba(0,0,0,0.03);
	border-bottom: 1px solid #aaa;
}

/* The caption text. */
.wp-caption-text {
	margin: 0;
	padding: 0.5em 1em;
	max-width: none;
	font-size: 12px;
}

/* An image within the caption (you might want to style other elements too). */
.wp-caption img { }

.post + .post { 
	margin-top: 4em; 
}


/* Menu
-------------------------------------------------------------- */
/* Basic functionality is in the base.css file. Add styles here. */



/* Comments
-------------------------------------------------------------- */
#comments {
}

.commentlist {
	padding: 1em 0;
}

.commentlist .comment-meta {
}

.commentlist > .comment {
	background: #fff;
	background: rgba(255,255,255,0.7);
}

.comment {
	list-style: none;
	border-bottom: 1px solid #bbb;
	padding: 2em;
	margin-bottom: 1em;
}

.comment .comment {
	margin: 0;
	padding-left: 2em;
	border-left: 1px solid #ddd;
	border-color: #ccc;
}

.comment .comment:last-child {
	border-bottom: none;
	margin-bottom: 0;
}

.comment .avatar {
	float: left;
	border: 1px solid #ddd;
	margin-right: 1em;
	padding: 0.5em;
	width: 4em;
}

.comment-author,
.comment-meta a {
	font-style: normal;
	font-size: 11px;
	text-transform: uppercase;
	color: #aaa;
	line-height: 1.2em;
}

.comment-meta:after {
	display: table;
	content: "";
	clear: both;
	margin-bottom: 1em;
}

.comment-reply-link {
	background: #ccc;
	color: #fff;
	display: inline-block;
	padding: 0.5em 1em;
	text-shadow: 0 0 3px rgba(0,0,0,0.5);
}

.comment .children {
	padding: 0 0 0 0;
}



#respond form div {
	margin-bottom: 1em;
}

#respond p {
	max-width: none;
}

#respond .logged-in-as, #respond .logged-in-as a,
#respond .comment-notes {
	font-size: 11px;
	text-transform: uppercase;
	color: #aaa;
}

#respond label {
	display: block;
}

#respond textarea {
	margin: 0;
	width: 100%;
}

#respond .form-allowed-tags {
	display: none;
}





/* Widgets
-------------------------------------------------------------- */
.widget_calendar caption {
	font-weight: bold;
	padding-bottom: 4px;
	text-align: left;
}
.widget_calendar table {
	width: 100%;
}
.widget_calendar thead {
	font-size: 11px;
}
.widget_calendar thead th {
	text-align: center;
}
.widget_calendar tbody {
	color: #aaa;
}
.widget_calendar tbody td {
	background: #eee;
	border: 1px solid #fff;
	padding: 3px 0 2px;
	text-align: center;
}
.widget_calendar tbody .pad {
	background: #f8f8f8;
}
.widget_calendar tfoot #next {
	text-align: right;
}

.widget > ul {
	list-style: none;
	padding: 0;
}

.widget {
	padding: 2em 0;
}

.widget + .widget {
	border-top: 1px solid #ddd;
}


/* Post Nav
-------------------------------------------------------------- */
.postnav { 
	width: 100%; 
	margin: 0 auto;
	overflow: hidden;
	clear: both;
	padding: 2em 0 0;
}

.postnav div {
	float: left;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 1px;
	color: #bbb;
}

.postnav a {
	display: block;
	width: 30px; height: 30px;
	background: url(images/prev-dark.png) no-repeat center;
	text-indent: -999em;
	border: 1px solid #ddd;
}

.postnav .next {
	float: right;
}

.postnav .next a {
	background-image: url(images/next-dark.png);
}



/* Portfolio Grid
-------------------------------------------------------------- */

.post-gallery {
	text-align: center;
}

.post-gallery .item .entry-title {
	position: relative;
	margin: 0;
	padding: 1em 0.5em;
	font-size: 12px;
	color: #555;
	text-transform: uppercase;
	background: rgba(255,255,255,0.7);
}

#portfolio .item img {
	width: 100%;
}




/* The end of main styles
-------------------------------------------------------------- */


/* Responsive Stuff 
-------------------------------------------------------------- */

@media screen and (min-width: 1200px) {

}/* END breakpoint */

@media screen and (max-width: 720px) {

	.primary, .secondary {
		float: none;
		width: 100%;
		border: none;
	}
	
	.primary:after, .secondary:after {
		clear: both; content:""; display:table;
	}

	.secondary {
		padding: 2em 0;
	}
	
}/* END breakpoint */

@media screen and (max-width: 400px) {

}/* END breakpoint */


/* END of Responsive Stuff
-------------------------------------------------------------- */